version: '3'
services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  
  test_plantspy:
    image: test_plantspy:latest
    container_name: test_plantspy
    ports:
      - "8000:8000"
    build:
      context: .
      dockerfile: Dockerfile_plantspy
    volumes:
      - images:/app/images
    depends_on:
      - mongo

volumes:
  images:
    driver: local
    driver_opts:
      type: none
      device: /home/mlpos/api_mlops/images/
      o: bind
    

  
